@media screen and (max-width: 550px) {
  .header{
    text-align: center;
    display: grid;

  }
  .mobileImg{
    width:75%;
    height: 75%;
  }
  .photoAlbum{
    width:30%;
    height: 80%;
    text-align: center;
  }
  .wrapper{
    display: grid;
    background-color: orange;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 20px
  }
  .box{
    background-color: purple;
    display: inline-block;
  }

  .box1{
    grid-column: 2;
    grid-row: 1;
    background-color: blue;
  }
  .box2{
    grid-column: 3;
    grid-row: auto;
    background-color: teal;
  }
  .box3{
    grid-column: 1;
    grid-row: 2;
    background-color: pink;
  }
  .box4{
    grid-column: 2;
    grid-row: 2/3;
    background-color: lavender;
  }
  .box5{
    grid-column: 3;
    grid-row: 2/3;
    background-color: green;
  }
  .box6{
    grid-column: 1;
    grid-row: 3;
    background-color: black;
  }
  .box7{
    grid-column: 2/4;
    grid-row: 3;
    background-color: red;
  }
      /*nav bar*/

            details {
              margin: 40px;
              position: absolute; left:330px; top:10px;
            }
            summary {
              writing-mode: vertical-lr;
              text-align: center;
              padding: 12px 10px;
              width: 23px;
              height: 17px;
              background-color: #dcdcdc;
              border: 2px solid #555555;
              border-radius: 4px;
              color: #555555;
              outline: none;
              transition: transform 200ms ease-in-out 0s;
            }
            summary::before,
            summary::after {
              position: static;
              top: 0;
              left: 0;
            }
            summary::before {
              content: "";
            }
            summary::after {
              font-family: sans-serif;
              content: "III";
              letter-spacing: -1px;
            }
            summary:hover {
              transform: scale(1.1);
            }
            summary::marker {
              font-size: 0;
            }
            summary::-webkit-details-marker {
              display: none;
            }
            details[open] .menu {
              animation-name: menuAnim;
            }
            details[open] summary::before {
              content: "X";
            }
            details[open] summary::after {
              content: "";
            }
            .menu {
              height: 0;
              width: fit-content;
              border-radius: 4px;
              background-color: #dcdcdc;
              box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
              margin-top: 8px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              overflow: hidden;
              animation: closeMenu 300ms ease-in-out forwards;
            }
            .menu a {
              padding: 12px 24px;
              margin: 0 16px;
              color:  #555555;
              border-bottom: 2px solid rgba(0, 0, 0, 0.1);
              text-decoration: none;
              text-align: center;
              transition: filter 200ms linear 0s;
            }
            .menu a:nth-of-type(1) {
              padding-top: 24px;
            }
            .menu a:nth-last-of-type(1) {
              border-bottom: none;
            }
            .menu a:hover {
              filter: brightness(200%);
            }
            details::before {

              color: #555555;
              position: absolute;
              margin-left: 80px;
              padding: 10px 10px;
              opacity: 0.4;
            }
            details[open]::before {
              animation: fadeMe 300ms linear forwards;
            }
            @keyframes menuAnim {
              0% {
                height: 0;
              }
              100% {
                height: 312px;
              }
            }
            @keyframes fadeMe {
              0% {
                opacity: 0.4;
              }
              100% {
                opacity: 0;
              }
            }

}


@media screen and (min-width: 551px){
  .header{
    display: grid;
    position: relative;
    left:70px;
  }
  .wrapper{
    display: grid;
    background-color: orange;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px ;
    grid-gap: 20px
  }
  .box{
    background-color: purple;
    display: inline-block;
  }

  .box1{
    grid-column: 2;
    grid-row: 1;
    background-color: blue;
  }
  .box2{
    grid-column: 3;
    grid-row: auto;
    background-color: teal;
  }
  .box3{
    grid-column: 4;
    grid-row: 1;
    background-color: pink;
  }
  .box4{
    grid-column: 1;
    grid-row: 2/3;
    background-color: lavender;
  }
  .box5{
    grid-column: 2;
    grid-row: 2/3;
    background-color: green;
  }
  .box6{
    grid-column: 3;
    grid-row: 2/3;
    background-color: black;
  }
  .box7{
    grid-column: 4;
    grid-row: 2/3;
    background-color: red;
  }
  details {
    margin: 40px;
    float: right;
    position: absolute;
     right:0px; top:10px;
  }
  summary {
    writing-mode: vertical-lr;
    text-align: center;
    padding: 12px 10px;
    width: 23px;
    height: 17px;
    background-color: #dcdcdc;
    border: 2px solid #555555;
    border-radius: 4px;
    color: #555555;
    outline: none;

  }
  summary::after {
    position: static;
    top: 0;
    left: 0;
  }
  summary::before,
  summary::after {
    position: static;
    top: 0;
    left: 0;
  }
  summary::before {
    content: "";
  }
  summary::after {
    font-family: sans-serif;
    content: "III";
    letter-spacing: -1px;
  }
  summary:hover {
    transform: scale(1.1);
  }
  summary::marker {
    font-size: 0;
  }
  details[open] summary {
  display: none;
  }
}
/* tried to center the main display image but it won't cooperate
.pic1{
  align-content: center;
  object-position: center;
}
#objectposition1 {

  object-position: 20px;
}
#objectposition2 {
  object-position: 100%;
}  */

body {
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  font-size: 20px;
}

.homeImg {
  height:50px;
  width: 50px;
  display: block;
  position:relative;
  top: -85px;
}
#imgme {
  float: right;
  text-align: right;
}
.photoAlbum{
  text-align: center;

}
.pic1{
  text-align: center;
}
h1 {
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  font-size: 300%;
  color: #707070
}
h2{
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  font-size: 200%;
  color: #707070
}
h3{
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  font-size: 175%;
  color: #707070
}
h4{
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  font-size: 150%;
  color: #707070
}

p {
  font-family: "Comic Sans MS",  "Comic Sans", sans-serif;
  color: #707070;
  margin: 500px;
  /*background-color: red;*/
  padding: 10px 20px 5px 40px;
  margin:20px 10px 10px 10px;
  width: 350px;
  height: 100px;
  display: inline-block;
}
a{
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}
a:hover {
  color:  #597A6F;
}
hr {
    border: 3px dotted #597A6F;
    border-style: none none dotted;
    color: #fff;
    background-color: #fff;
}
img{
  border: 2px solid #ddd;
}

/*
.pic1{
  width: 50px;
  height: auto;
} */

@keyframes slidein {
  from{
    margin-left:100%;
    width:300%;
  }
  50%{
    margin-left: 40%
    width: 135%;
    }
  to{
    margin-left: 0%;
    width: 100%;
  }
}
.slide-in{
  animation-duration: 4s;
  animation-name: slidein;
}

/*nav bar stuff*/
