p {
  color: red;
  text-align: center;
}
p::first-letter{
  font-size: 200%;
}
h1 {
  font-style: italic;
  font-size: 300%;
}
#id1 {
  color: pink;
}
#id2 {
  color:green;
}
.class1 {
  text-shadow: 2px 2px yellow;
}
a:hover{
  color: white;
  text-shadow: 1px 1px purple;
}
